<% @the_actor.characters.each do |a_character| %>
  <tr>
    <td>
      <%= a_character.movie.title %>
    </td>

    <td>
      <%= a_character.movie.year %>
    </td>

    <td>
      <%= a_character.movie.director.name %>
    </td>

    <td>
      <%= a_character.name %>
    </td>

    <td>
      <a href="/movies/<%= a_character.movie.id %>">
        Show details
      </a>
    </td>
  </tr>
<% end %>
